# Nothing build config
#
CONFIG_NOTHING=y
CONFIG_NOTHING_SPACEWAR=y

#
# KernelSU
#
CONFIG_KSU=y
CONFIG_KSU_SUSFS=y
CONFIG_KSU_HACK_ARM64_BRANCH_LINK=y
# CONFIG_KSU_TAMPER_SYSCALL_TABLE is not set
CONFIG_KSU_LSM_SECURITY_HOOKS=y
# CONFIG_KSU_FEATURE_SULOG is not set
# CONFIG_KSU_FEATURE_ADBROOT is not set
CONFIG_KSU_HOSTSREDIRECT=y
# CONFIG_KSU_ENABLE_FULL_UID_CHECKS is not set
CONFIG_KSU_THRONE_TRACKER_ALWAYS_THREADED=y
# CONFIG_KSU_NOPRINTK is not set
# CONFIG_KSU_SHELL_HAS_SU_ALWAYS is ot set
# CONFIG_KSU_DEBUG is not set
CONFIG_KSU_COMPILE_AS_C23=y
CONFIG_KSU_HEURISTIC_IN_TREE_BUILD=y
CONFIG_COMPAT_VDSO=y
CONFIG_THUMB2_COMPAT_VDSO=y
